<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/scratch.css">
  <link rel="stylesheet" href="../styles/style.css">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body class="overscroll-none">
    
   <div class="container">
        <div class="base">
            <% if (isWinner) { %>
              <h4>You Won!</h4>
              <h3>Show this ticket to claim your prize</h3>
            <% } else { %>
              <h4>You Lost</h4>
            <h3>Better luck next time!</h3>
            <% } %>
        </div>

        <div class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
              <button id="back_button" class="pb-10 inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-300 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                  Back to Event
                  <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              </button> 
      </div>

   </div>
   <canvas id="scratch" width="400" height="400"></canvas>

   <script src="../js/scratch.js"></script>

</body>
</html>