<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/scratch.css">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body class="bg-gradient-to-r from-black to-blue-800">
    
   <div class="container">
        <div class="base">
            <h4>You Won!</h4>
            <h3>Show this ticket to claim your prize</h3>
        </div>
   </div>
   <canvas id="scratch" width="200" height="200"></canvas>

   <script src="./js/scratch.js"></script>

</body>
</html>